{% extends "base.html" %}
{% load static %}
{% block title %} Landing Page {% endblock title %}

{% block content %}

<section class="main_section">
    <h1 class="text-success">What is Goodreads?</h1>
<p class="text-muted">
    Goodreads is an app that’s all about books. It originally launched in 2007.
    It’s like what the IMDB app does for movies and TV shows. On Goodreads, you can see what others have rated books and add them to your to-be-read list. You can also search for any book by title or author.

    It’s also partially a social media platform. You can see what your friends are reading, read their reviews, and comment on them. It’s like one giant digital book club!

    Additionally, there are book recommendations, book reviews, discussion forums, bookish groups, and lots more features on the app.

    Goodreads is free to join, and you can use it either on a computer (via the website) or your smart phone (via the app). You can even connect Goodreads with your Kindle!
</p>
</section>

{% endblock content %}