{% extends "base.html" %}
{% block title %} Update Profile {% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row mx-auto">
    <div class="col col-md-6 mx-auto">
        <h1 class="text-center mb-3">Update Profile</h1>

        <form method="post" enctype="multipart/form-data">
            {{ form |crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-dark mt-3">Save changes</button>
        </form>
    </div>
</div>

{% endblock content %}